/* CSS PAGINA DE BOAS VINDAS  cap.css*/
/* Cor Vende: rgb(40, 167, 69);  /*  Verde #28a745;*/
/* Cor Azul: rgb(78, 102, 170); /*   #23458b */
/* Cor Amarelo antigo Fab Button: rgb(234, 188, 16) #eabc10 */
/* Cor Amarelo Mais Claro: rgb(255, 204, 42) #ffcc2a */
/* Cor Vermelha : rgb(219, 25, 33); /* #db1921*/
:root {
  /*NAO ALTERAR*/
  --fonteCaps: 'Montserrat', system-ui, Noto, Helvetica, Arial, sans-serif;
  /*NAO ALTERAR*/
  /*ALTERAR CONFORME CAP*/
  --fontePadrao: var(--fonteCaps);

  --widthApp: 0px --f7-font-family: var(--fontePadrao);
  --cor_vermelha: #db1921;
  --cor_azul: #23458b;
  --cor_verde_claro: #28a745;
  --cor_verde_escuro: #2C7352;
  --cor_verde: var(--cor_verde_claro);
  --cor_amarela: #ffcc2a;
  --cor_amarela_fab: #eabc10;
  --cor_amarela_tab: #fffc04;
  --cor_amarela_supercap: #EEEB3A;
  --cor_cinza: #dadada;
  --cor_branca: #ffffff;
  --cor_preta: #000000;
  --cor_escura: #171e26;
  --cor_escura_transparencia: #171e269e;
  --cor_bg_splash_index: #171E26;

  --height_caspadinha_imagem: '100%';
  --width_caspadinha_imagem: 'auto';
  --height_caspadinha_canva: '100%';
  --width_caspadinha_canva: '100%';

  --background_radial_modAzul: radial-gradient(circle, rgba(61, 70, 77, 1) 1%, var(--cor_vermelha) 25%, var(--cor_azul) 70%);
  --background_radial_modVerde: radial-gradient(circle, rgba(61, 70, 77, 1) 1%, var(--cor_azul) 15%, var(--cor_verde_claro) 70%);
  --background_radial: var(--background_radial_modVerde);


  --cor_padrao_bg: var(--cor_cinza);
  --cor_padrao_bg_navbar: var(--cor_cinza) !important;
  --cor_padrao_bg_card: #2C7352;
  --cor_padrao_bg_menu: #53A658;
  --modelo1-border-radius: 20px 20px 20px 20px !important;
  --modelo2-border-radius: 20px 5px 20px 0px !important;
  --custom-border-radius: var(--modelo1-border-radius) !important;
  --cor_tituloPopup: var(--cor_padrao_bg_card);
  --cor_texto_mais_info: var(--cor_branca);
  --cor_icone_mais_info: var(--cor_amarela_fab);
  /* CORES PODEM SER ALTERADAS DINAMICAMENTE */
  /* VER API variavel ArrayC.o['coresRainbow'] em /JSON/ FUNCAO alteraCssRanbow em CUSTOM.js */
  --cor_Rainbow_1: #db1921;
  --cor_Rainbow_2: #23458b;
  --cor_Rainbow_3: #28a745;
  --cor_Rainbow_4: #ffcc2a;
  --animation: rotate 6s linear infinite;

  --f7-theme-color: var(--cor_verde_claro);
  /* VER CONFORME TABELA ACIMA*/
  --f7-theme-color-rgb: 78, 102, 170;

  /* MUDAR PARA CADA CAP */
  --cor_tituloCards: var(--cor_vermelha);
  --cor_tabAtiva_background: var(--cor_verde_claro);
  --cor_tabAtiva_fonte: var(--cor_branca);


  /********************* COR 1 ************************/
  --cor_1: var(--cor_verde_claro);
  --cor_1_background: var(--cor_1);
  --cor_1_borda: var(--cor_azul);
  --cor_1_fonte: var(--cor_branca);
  /********************* FIM COR 1 *********************/


  /********************* COR 2 ************************/
  --cor_2: var(--cor_vermelha);
  --cor_2_background: var(--cor_2);
  --cor_2_borda: var(--cor_azul);
  --cor_2_fonte: var(--cor_branca);
  /********************* FIM COR 2 *********************/


  /********************* COR 3 ************************/
  --cor_3: var(--cor_azul);
  --cor_3_background: var(--cor_3);
  --cor_3_borda: var(--cor_vermelha);
  --cor_3_fonte: var(--cor_branca);
  /********************* FIM COR 3 *********************/


  /********************* COR 4 ************************/
  --cor_4: var(--cor_amarela);
  --cor_4_background: var(--cor_4);
  --cor_4_borda: var(--cor_azul);
  --cor_4_fonte: var(--cor_azul);
  /********************* FIM COR 4 *********************/

}

.view-mainWebapp {
  top: 6px;
}

.buttonSegmento_1de3 {
  border-radius: 20px 0px 0px 0px !important;
}

.buttonSegmento_2de3 {
  border-radius: 0px 0px 00px 0px !important;
}

.buttonSegmento_3de3 {
  border-radius: 0px 0px 20px 0px !important;
}

.buttonSegmentActive {
  color: var(--cor_1_fonte) !important;
  background-color: var(--cor_1_background) !important;
}

.buttonSegmentInactive {
  color: var(--cor_azul) !important;
  background-color: var(--cor_branca) !important;
}

.popup-comprar {
  height: auto !important;
  max-height: 98% !important;
  border-radius: 25px !important;
  top: auto !important;
  bottom: 0px !important;
}

.navbar-bg {
  background-color: var(--cor_padrao_bg_navbar) !important;
  text-align-last: center;
  height: 56px;
  display: flex;
  justify-content: center
}

.navbar-bgWebApp {
  width: calc(100% - 15px) !important;
}

.imgStatusBar {
  /*height: 56px;*/
  height: 95%;
}

.imgStatusBarModel1 {
  height: 106%;
  width: 100%;
}

.ptr-preloader {
  top: -60px;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-copyright {
  padding: 10px 0px 0px 0px !important;
  font-weight: bold;
}

.copyright-versao {
  right: 0px;
  max-width: 45% !important;
  padding-right: 30px !important;
}

.copyright-dev {
  left: 0px;
  max-width: 45% !important;
  padding-left: 30px !important;
}

.card-comprar {
  color: #FFFFFF;
  /*background-color: var(--cor_verde) !important;*/
  background-color: var(--cor_1_background) !important;
  width: 92% !important;
  /* padding: 15px; */
  margin: 15px !important;
}

/* Imagem INDEX SUPERMAN*/
/* ALINHAR IMAGEM DA ENTRADA */
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}


.vermelhoBG {
  /*background: rgb(219, 25, 33);*/
  background: var(--cor_vermelha);
}

.vermelhoColor {
  color: var(--cor_vermelha);
}

/*Acompanhar sorteio*/
.row2 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

/*index*/
.logo-splash {
  max-width: 200%;
  max-height: 100%;
  vertical-align: center;
  left: 80% !important;
  margin-left: -80px !important;
  top: 10px;
  margin-top: 100px !important;
}

.md .bg-badge-tab {
  background-color: var(--cor_amarela) !important;
  color: var(--cor_azul) !important;
}

.md .bg-badge-tab-active {
  background-color: var(--cor_amarela) !important;
  color: var(--cor_azul) !important;
}

.bg-azul {
  background-color: var(--cor_azul) !important;
}

.color-azul {
  color: var(--cor_azul) !important;
}

.color-vermelho {
  color: var(--cor_vermelha) !important;
}

.color-amarelo {
  color: var(--cor_amarela) !important;
}

.tab-link {
  color: var(--cor_branca) !important;
}

.ios .tab-link-active {
  /*background-color: #28a745 !important;*/
  /*background-color: #db1921 !important;*/
  background-color: var(--cor_tabAtiva_background) !important;
  color: var(--cor_tabAtiva_fonte) !important;
}

.md .tab-link-active {
  background-color: var(--cor_tabAtiva_background) !important;
  color: var(--cor_tabAtiva_fonte) !important;
}

.badge-toolbar {
  position: absolute !important;
  top: 2px !important;
  margin-left: 2px !important;
}

.badge-toolbar-Tablet {
  position: absolute !important;
  left: 20px;
  top: 2px !important;
}

.falta-pouco {
  background-image: url('../img/home/aguarde.jpg');
  /*width: 100%;*/
  border-style: solid !important;
  border-color: var(--cor_1_background) !important;
  height: 30%;
  background-size: cover;
  background-position: center;
}

.bg-welcome {
  background-image: url("../img/index/bg.jpg");
  background-repeat: no-repeat;
}

.bg-welcomeV2 {
  background-color: var(--cor_bg_splash_index);
}

.logoInicio {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.bg-welcome-mod1 {
  height: 100%;
  background-size: cover;
}

.bg-welcome-mod2 {
  background-attachment: fixed;
  background-size: 100% 100% !important;
}

.button-active {
  background-color: var(--cor_1_background) !important;
  color: var(--cor_1_fonte) !important;
}

/* CSS PAGINA DE CADASTRO */
.div-formulario-cadastro {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

.div-formulario-login {
  position: relative;
  /*top: 25%;
  transform: translateY(-25%);
  */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.page-cadastro {
  /* https://cssgradient.io/ */
  background: var(--background_radial);
  /*padding-top: 30;*/
}

/* Cadastro P1  */

.list-cadastro {
  border-color: var(--cor_amarela_fab) !important;
  /*border-style: solid !important;*/
  border-radius: 2% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* Background do menu superior (barra menu) */

:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--cor_azul) !important;
  --f7-bars-bg-color-rgb: var(--cor_azul) !important;
}


/* FONTE DO TITULO */
/* Titulo com o icone */

.title {
  text-align: left !important;
  width: 100% !important;
}

/* titulo centralizado*/

.title-center {
  text-align: center !important;
  width: 100% !important;
  font-size: 1.4rem !important;
  font-weight: bold;
}

.titulo_principal {
  color: var(--cor_1_fonte);
}

/* Rodapé padrão e FAB */
.fab.fab-center-bottom.fab-morph.fab-morph-CP {
  height: 45px !important;
  width: 45px !important;
}

/*  Icones TAB/rodapé da tela principal  */

.rodape-padrao {
  background-color: var(--cor_1_background) !important;
  height: 50px !important;
  /*border-radius: 25px 25px 0px 0px !important;*/
}

.icones-tab {
  height: 32px;
  font-size: 1.5rem;
  /*color: var(--cor_branca);*/
}

.icones-tab-label {
  font-size: 0.6rem;
  line-height: 1.2 !important;
  /*color: var(--cor_branca);*/
}

@media (max-height: 720px) {
  .icones-tab-label {
    font-size: 0.5rem;
  }
}

/* PAGE CONTENT */

.picker-center-highlight {
  background: rgba(218, 218, 218, 0.2) !important;
}

.page-background-cinza-liso {
  background-color: var(--cor_cinza) !important;
}

.page-background {
  background-color: var(--cor_padrao_bg) !important;
}

/* Beneficiados */

.blog-block {
  padding-left: 5px;
  padding-right: 5px;
}

.blog-card {
  background-color: #ffffff;
  /*color: #2b26af; */
  /*padding-top: 5px;*/
  padding-bottom: 5px;
}

.card-sorteio {
  background-color: #ffffff;
  /*color: #2b26af; */
  /*padding-top: 5px;*/
  padding-bottom: 5px;
}

.blog-card-popupExtrato {
  font-weight: bold;
  justify-content: center !important;
  text-align: center !important;
  border-radius: 20px 20px 0px 0px !important;
}

.blog-card-header {
  color: var(--cor_1_fonte);
  background-color: var(--cor_1_background);
  /*  background-color: #db1921;*/
  font-weight: bold;
  justify-content: center !important;
  text-align: center !important;
  /*border-radius: 25px 25px 0px 0px !important;*/
  border-radius: 20px 20px 0px 0px !important;
  /*2022-10-18 add*/
}

.blog-card-header-animated {
  margin: 6px !important;
}

.card-sorteio-header {
  color: var(--cor_1_fonte);
  background-color: var(--cor_1_background);
  /*  background-color: #db1921;*/
  font-weight: bold;
  justify-content: center !important;
  /*border-radius: 25px 25px 0px 0px !important;*/
  border-radius: 20px 20px 0px 0px !important;
  /*2022-10-19*/
}

.card-sorteio-header-pic .card-header {
  /*height: 40vw;*/
  height: 50vw;
  background-size: cover;
  background-position: center;
  color: var(--cor_branca);
}

.blog-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: var(--cor_branca);
}

.blog-card-footer {
  color: var(--cor_1_fonte) !important;
  /*background: rgba(35, 69, 139, 0.8) !important;*/
  background: var(--cor_1_background) !important;
  text-align: right !important;
  /*background: radial-gradient(black, transparent) !important;*/
}

.blog-card-icon {
  height: 25px !important;
  font-size: 25px;
  vertical-align: middle;
}

/* Pagina de Informações */

.info-icone {
  font-size: 22px;
  color: var(--cor_2_background) !important;
}

.info-link {
  /*color: #2d3341 !important*/
  font-weight: bold !important;
  color: var(--cor_1_background) !important;
}

.info-block {
  margin-top: 15px;
}

.FaixaOffline {
  z-index: 10000;
  /*padding-top: 8px;*/
  text-align: center;
  font-size: 1.4rem;
  color: var(--cor_branca);
  margin: 0 auto;
  padding-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor_vermelha);
  height: 56px;
  width: 100%;
  /* border-radius: 20px 20px 20px 20px;*/
}

/* Offline */

.offline-icone {
  font-size: 30px;
  color: var(--cor_3);
  /*  color: #db1921;*/
  justify-content: center !important;
  text-align: center !important;
}

.offline-titulo-row {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
  justify-content: center !important;
  text-align: center !important;
}

.offline-titulo {
  display: inline-block !important;
  font-size: 22px !important;
  color: var(--cor_3) !important;
  /*  color: #db1921 !important;*/
  font-weight: bold;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.offline-sub-titulo {
  font-size: 14px !important;
  color: var(--cor_azul) !important;
  font-weight: bold;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

/* Página HOME/Premios */

.home-banner-block {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.flip-dia {
  right: -98px !important;
  font-size: 25px;
}

.flip-hora {
  right: -107px !important;
  font-size: 25px;
}

.flip-minutos {
  right: -120px !important;
  font-size: 25px;
}

.flip-segundos {
  right: -135px !important;
  font-size: 25px;
}

.home-bottom-relogio {
  margin-top: 34px !important;
  margin-bottom: 2px !important;
  height: 22px !important;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.home-bottom-relogio-firefox {
  margin-bottom: 0px !important;
  margin-top: -6px !important;
  padding-bottom: 0px;
  height: 90px;
}

/* Banner HOME */

.banner-img {
  background-size: 110% !important;
  background-size: contain !important;
  background-position: center center !important;
  padding-top: 0px !important;
}

/* BOLAS BINGO */
.card-titulo {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  border: solid;
  border-color: var(--cor_cinza);
  background-color: var(--cor_cinza);
  border: solid 2px !important;
  border-color: var(--cor_cinza) !important;
  /*margin-top: 20px;*/
  max-width: 430px;
  display: inline-block;
  width: 94%;
  /*add para fixar largura do titulo em SELECIONAR TITULO*/
}

.cartela-card {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  border: solid;
  border-color: var(--cor_cinza);
  background-color: var(--cor_cinza);
  border: solid 2px !important;
  border-color: var(--cor_cinza) !important;
  /*margin-top: 20px;*/
}

.block-titulo {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.row-titulo {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.col-titulo {
  /* border: thin; */
  border: solid;
  border-radius: 8%;
  border-color: var(--cor_branca) !important;
}

.span-numTitulo {
  font-size: 1.1rem;
}

.span-numSorte {
  font-size: 0.9rem;
}

.cartela-card-header-vertical {
  height: 36 !important;
  /*  f7-card-header-min-height: 48px;*/
  min-height: 36 !important;
  /*f7-card-footer-min-height: 48px;, */
  color: var(--cor_branca);
  font-size: 0.9rem;
  background-color: var(--cor_1);
  /* background-color: #db1921;*/
  font-weight: bold;
  justify-content: center !important;
  padding-right: 10px !important;
  /*No iphone 5 nao cabe, portanto aumentei o epaço disponível p titulo*/
  padding-left: 10px !important;
  /*No iphone 5 nao cabe, portanto aumentei o epaço disponível p titulo*/
  border-radius: 25px 25px 0px 0px !important;
  /*2022-10-19*/
}

.cartela-card-header-add {
  color: var(--cor_azul) !important;
  background-color: var(--cor_amarela_fab) !important;
  padding-right: 10px !important;
  /*No iphone 5 nao cabe, portanto aumentei o epaço disponível p titulo*/
  padding-left: 10px !important;
  /*No iphone 5 nao cabe, portanto aumentei o epaço disponível p titulo*/
  border-radius: 25px 25px 0px 0px !important;
  /*2022-10-19*/
}

.cartela-card-add {
  border: solid 2px !important;
  border-color: var(--cor_azul) !important;
}

.card-footer-titulo {
  height: 32px !important;
  min-height: 32px !important;
  color: var(--cor_branca) !important;
  background: var(--cor_cinza) !important;
  text-align: right !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
  justify-content: center !important;
  margin-bottom: 8px !important;
  /*2022-10-19*/
  /*background: radial-gradient(black, transparent) !important;*/
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.circulo-preferido li,
div.circulo-preferido {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  background: var(--cor_amarela_fab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

ul.circulo li,
div.circulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  float: left;
  margin: 2px;
  font-weight: bold;
  color: #ffffff;
  background: var(--cor_azul);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

ul.circulo li,
div.circulo-sorteada {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  background: -moz-linear-gradient(270deg, #f5f5f5 0%, #f5f5f5 16%, #008000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(16%, #f5f5f5), color-stop(100%, #008000));
  background: -webkit-linear-gradient(270deg, #f5f5f5 0%, #f5f5f5 16%, #008000 100%);
  background: -o-linear-gradient(270deg, #f5f5f5 0%, #f5f5f5 16%, #008000 100%);
  background: -ms-linear-gradient(270deg, #f5f5f5 0%, #f5f5f5 16%, #008000 100%);
  background: linear-gradient(180deg, #f5f5f5 0%, #f5f5f5 16%, #008000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

ul.circulo li,
div.circulo-apagado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #02020257;
  background: #dadada;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999', GradientType=0);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

ul.circulo2 li,
div.circulo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Migrados para Media Queries - CSS
  width: 28px;
  height: 28px;
  font-size: 17px;
  */
  border-radius: 50%;
  margin: 2px;
  font-weight: bold;
  color: #ffffff;
  background: var(--cor_azul);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

ul.circulo2-preferido li,
div.circulo2-preferido {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Migrados para Media Queries - CSS
  width: 28px;
  height: 28px;
  font-size: 17px;
  */
  border-radius: 50%;
  margin: 2px;
  font-weight: bold;
  color: #000000;
  background: var(--cor_amarela_fab);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

/* Circulos/Bolas dos titulos quando a tela tem no maximo 320px */

@media only screen and (max-width: 336px) {

  ul.circulo2-preferido li,
  div.circulo2-preferido {
    width: 18px !important;
    height: 18px !important;
    font-size: 12px !important;
  }

  ul.circulo2 li,
  div.circulo2 {
    width: 18px !important;
    height: 18px !important;
    font-size: 12px !important;
  }
}

/* Circulos/Bolas dos titulos quando a tela tem no maximo 400px */

@media only screen and (max-width: 400px) {

  ul.circulo2-preferido li,
  div.circulo2-preferido {
    width: 21px;
    height: 21px;
    font-size: 13px;
  }

  ul.circulo2 li,
  div.circulo2 {
    width: 21px;
    height: 21px;
    font-size: 13px;
  }
}

/* Circulos/Bolas dos titulos quando a tela tem no maximo 400px */

@media only screen and (min-width: 401px) {

  ul.circulo2-preferido li,
  div.circulo2-preferido {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }

  ul.circulo2 li,
  div.circulo2 {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
}

.col2-titulo {
  /* border: thin; */
  border: solid;
  border-radius: 3%;
  border-color: #fff !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.form-pg-cartao {
  padding: 0px !important;
  margin: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.row-botao-pg {
  margin-bottom: 6px !important;
  margin-top: 2px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  justify-content: center !important;
  padding-bottom: 6px !important;
  max-width: 450px !important;
  /*teste*/
}

.botao-pg {
  width: 80% !important;
}

.block-pg-metodo {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  /*border-radius: 5% !important;*/
}

.block-pg-cartao {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
  /*border-radius: 5% !important;*/
}

.item-inner-pg-cartao {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.item-label-pg-cartao {
  color: var(--cor_azul) !important;
  font-weight: bold !important;
  font-size: 0.8rem !important;
}

.item-label-pg-tipo {
  color: #000000 !important;
  font-weight: bold !important;
  font-size: 0.8rem !important;
}

.titulo-card-pagamento {
  color: var(--cor_tituloCards) !important;
  /*  color: #db1921 !important;*/
  font-weight: bold !important;
  text-align: center !important;
  margin-bottom: 2px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px !important;
  text-transform: uppercase;
}

.titulo-card-popUp {
  color: var(--cor_tituloPopup) !important;
  font-weight: bold !important;
  text-align: center !important;
  margin-top: 2px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-bottom: 6px !important;
  font-size: 1.1em !important;
}

.titulo-card-login {
  color: var(--cor_tituloCards) !important;
  font-weight: bold !important;
  text-align: center !important;
  margin-top: 2px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-bottom: 6px !important;
  font-size: 1.1em !important;
}

.titulo-card-home-info {
  color: var(--cor_tituloCards) !important;
  /*  color: #db1921 !important;*/
  font-weight: bold !important;
  text-align: center !important;
  margin-top: 8px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  margin-bottom: 4px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.2em !important;
  text-transform: uppercase;
  line-height: 1.2em !important;
}

.card-home-info {
  margin-top: 8px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  margin-bottom: 4px !important;
  text-align: center !important;
}

.li-cartao-pg {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.card-itens-pg {
  color: var(--cor_azul) !important;
  font-weight: bold !important;
  font-size: 0.8rem !important;
}

.card-itens-valores {
  color: #000000 !important;
  font-size: 0.9rem !important;
  float: right !important;
}

.accordion-endereco {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Classe utilizada em PIN, teclado numérico e ocultar senha*/

.popup-recuperar-senha {
  top: auto !important;
  bottom: 0px !important;
  height: 35% !important;
  /* Valor padrao */
}

.popup-recuperar-senha-btn-fechar {
  position: absolute !important;
  right: 10px !important;
  font-size: 2rem !important;
  top: -10px !important;
  z-index: 10 !important;
}

.popup-add-Num-Preferido {
  top: auto !important;
  bottom: 0px !important;
  height: 30% !important;
  /* Valor padrao */
}

.popup-doacao-realizada {
  top: auto !important;
  bottom: 0px !important;
  height: 30% !important;
  /* Valor padrao */
}

/* @media dos elementos abaixo devem aparecer apos o valor original/padrao*/

/* só funciona se @media estiver depois do valor padrao */

@media (max-height: 720px) {
  .popup-add-Num-Preferido {
    height: 40% !important;
  }

  .popup-recuperar-senha {
    height: 40% !important;
  }

  .popup-doacao-realizada {
    height: 40% !important;
  }

  .popup-mais-informacoes {
    height: 40% !important;
  }
}

.block-numPreferido {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  /*border-radius: 5% !important;*/
}

.fab-morph-SelecionarCap {
  /* bottom: -20px !important; */
  /* Se utilizado com a barra de Status, necessário add esse item */
  border-color: var(--cor_azul) !important;
  border-style: solid;
  color: var(--cor_azul) !important;
  background-color: var(--cor_amarela) !important;
  max-width: 400px;
}

.fab-morph-SelecionarCap-icone {
  /*width: 200px !important;*/
  width: 100% !important;
  /*height: 40px !important;*/
  height: 100% !important;
  color: var(--cor_azul) !important;
}

.fab.fab-center-bottom.fab-morph.fab-morph-SelecionarCap {
  /*width: 220px !important;*/
  width: 80% !important;
  height: 48px !important;
}

.card {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 8px !important;
  padding-bottom: 8px !important;
  border-radius: 25px !important;
  /*2022-10-18 add*/
}

.row-titulo2 {
  margin-top: 3px;
  /*
  margin-left: 3px;
  margin-right: 3px;
  */
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
}

.bt-add-rm-carrinho {
  width: 114px !important;
  /* margin-bottom: 14px !important;/*2022-10-19*/
}

.bt-meustitulos-baixar-titulo {
  width: 114px !important;
  padding-bottom: 8px;
}

.bt-meustitulos-doacao {
  /* APAGAR bt-add-rm-carrinho */
  width: 30px !important;
  position: absolute;
  left: 10px;
  top: 0px;
}

.block-sorteios {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 8px !important;
}

.titulos {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.icone-doacao-historico-compras {
  left: 14px;
  font-size: 25px;
  vertical-align: middle;
  height: 50px;
  position: absolute;
}

.md .img-voltar-menu-gif {
  position: absolute !important;
  left: 0px;
  top: 4px;
  max-width: 50px;
}

.ios .img-voltar-menu-gif {
  position: absolute !important;
  left: 0px;
  top: 20px;
  max-width: 50px;
  margin-bottom: -10px !important;
}

.col-grid-carrinho {
  background: transparent;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 12px;
  height: 30px;
  /*margin-bottom: 16px;*/
}

.col-grid-carrinho-duplo {
  height: 44px;
}

.premio-selecionado-09 {
  font-size: 0.9em !important;
}

.premio-selecionado-07 {
  font-size: 0.7em !important;
}

.col-grid-carrinho-titulo {
  background: var(--cor_cinza);
  text-align: center;
  color: var(--cor_azul);
  border: 1px solid var(--cor_branca);
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  @media screen and (max-width: 448px) {
    .flip-clock-wrapper ul li a div div.inn {
      font-size: 36px !important;
    }
  }

  ;
  /* ver flip-clock-label */
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
}

.timeline_esquerda {
  margin-left: 0px !important;
}

.timeline-item-divider {
  background: var(--cor_azul);
}

.timeline-box-in {
  box-shadow: inset 0 0 1em var(--cor_branca), 0 0 0.4em var(--cor_verde);
  border-radius: var(--custom-border-radius) !important;
}

.timeline-box-out {
  box-shadow: inset 0 0 1em var(--cor_branca), 0 0 0.4em var(--cor_vermelha);
  border-radius: var(--custom-border-radius) !important;
}

.timeline-box-saldo {
  box-shadow: inset 0 0 1em var(--cor_branca), 0 0 0.4em var(--cor_azul);
  border-radius: var(--custom-border-radius) !important;
}

.timeline-item-date {
  color: var(--cor_azul);
  font-weight: bold;
}

.relogio-firefox {
  display: inline-block !important;
}

/*RETIRA A LINHA DO FOOTER DOS CARDS TITULOS (MEUS TITULOS E SELECIONACAP*/

:root {
  --f7-card-footer-border-color: rgba(0, 0, 0, 0) !important;
}

.list .accordion-item-toggle .item-inner:before,
.list:not(.media-list) .accordion-item:not(.media-item) .accordion-item-toggle .item-inner:before,
.list:not(.media-list) .accordion-item:not(.media-item)>.item-link .item-inner:before,
.media-list .accordion-item .accordion-item-toggle .item-title-row:before,
.media-list .accordion-item>.item-link .item-title-row:before,
.accordion-item.media-item .accordion-item-toggle .item-title-row:before,
.accordion-item.media-item>.item-link .item-title-row:before,
.links-list .accordion-item>a:before {
  color: var(--cor_azul);
}

.list .accordion-item-toggle.accordion-item-opened .item-inner:before,
.list:not(.media-list) .accordion-item-opened:not(.media-item) .accordion-item-toggle .item-inner:before,
.list:not(.media-list) .accordion-item-opened:not(.media-item)>.item-link .item-inner:before,
.media-list .accordion-item-opened .accordion-item-toggle .item-title-row:before,
.media-list .accordion-item-opened>.item-link .item-title-row:before,
.accordion-item-opened.media-item .accordion-item-toggle .item-title-row:before,
.accordion-item-opened.media-item>.item-link .item-title-row:before,
.links-list .accordion-item-opened>a:before,
.accordion-opposite .accordion-item-opened .accordion-item-toggle>.item-content:before,
.accordion-opposite .accordion-item-opened .accordion-item-toggle.item-content:before,
.accordion-opposite .accordion-item-opened>.item-content:before,
.accordion-opposite .accordion-item-opened>.item-link>.item-content:before,
.accordion-opposite .links-list .accordion-item-opened>a:before {
  color: var(--cor_vermelha);
}

.button {
  border-radius: var(--custom-border-radius);
  margin: 0px auto !important;
  max-width: 340px !important;
  /*height: auto !important;*/
  height: 50px !important;
  /*2022-10-22*/
  font-size: 1.1em !important;
  /*2022-10-22*/
}

.span-TextButton {
  font-size: 1.1em !important;
  /*2022-10-22*/
  vertical-align: text-top;
}

.span-TextButton-webapp {
  vertical-align: -webkit-baseline-middle !important;
  /*2022-10-22*/
  vertical-align: -moz-middle-with-baseline !important;
  /*2022-10-22*/
}

.popupExtrato-texto {
  color: var(--cor_azul) !important;
}

.span-TextButtonExtrato {
  font-size: 0.9rem !important;
  /*2022-10-22*/
  vertical-align: -webkit-baseline-middle !important;
  /*2022-10-22*/
  vertical-align: -moz-middle-with-baseline !important;
  /*2022-10-22*/
}

.subnavbar_extrato {
  height: 65px !important;
  /*2022-10-22*/
  /*background: var(--cor_cinza) !important;*/
  background: transparent !important;
  /*2022-10-22*/
  padding-top: 8px !important;
  z-index: 3 !important;
}

.segmented-strong-extrato {
  /*background: var(--cor_cinza) !important;*/
  background: transparent !important;
  font-size: 1rem;
}

.itemPopUpBottom {
  font-weight: bold !important;
  /*2022-10-22*/
  color: var(--cor_azul);
  /*2022-10-22*/
}


.buttonSegmentoDireita {
  border-radius: 0px 5px 20px 0px !important;
  /*background-color: var(--cor_azul);*/
  font-weight: bold !important;
}

.buttonSegmentoEsquerda {
  border-radius: 20px 0px 0px 0px !important;
  /*background-color: var(--cor_1_background);
  color: var(--cor_1_fonte);*/
  border-color: var(--cor_1_borda);
  font-weight: bold !important;
}

.inputCaptcha {
  text-align: center !important;
  border: solid !important;
  border-color: var(--cor_vermelha) !important;
  border-radius: var(--custom-border-radius) !important;
  /* antes era 20 - 2022-10-22*/
  height: 50px !important;
  /*2022-10-22*/
}

.liBoxCaptcha {
  text-align: center;
  background: #dadada;
  border-radius: var(--custom-border-radius) !important;
  vertical-align: bottom;
}

.iframeCaptcha {
  width: 100px;
  height: 52px;
  text-align: center;
  border: none;
  border-radius: var(--custom-border-radius) !important;
  vertical-align: bottom;
  overflow: hidden;
}

.button-card {
  /*novos abaixo*/
  border: solid !important;
  border-color: var(--cor_branca);
}

.form-cadastro {
  border-radius: 25px 25px 25px 25px !important;
}

.smart-select .item-after {
  /* Quando o o item selecionado é grande, oculta o texto "SELECIONE:"*/
  max-width: 100% !important;
}

.texto_direita_card {
  white-space: nowrap !important;
  text-align: right !important;
}

@media (min-width: 100px) and (max-width: 319px) {
  .texto_direita_card {
    white-space: nowrap !important;
    text-align: right !important;
    width: 60% !important;
  }
}

@media (min-width: 322px) and (max-width: 376px) {
  .texto_direita_card {
    white-space: nowrap !important;
    text-align: right !important;
    width: 65% !important;
  }
}

@media (min-width: 376px) and (max-width: 412px) {
  .texto_direita_card {
    white-space: nowrap !important;
    text-align: right !important;
    width: 70% !important;
  }
}

@media (min-width: 413) and (max-width: 2000px) {
  .texto_direita_card {
    white-space: nowrap !important;
    text-align: right !important;
    width: 70% !important;
  }
}

.campo_formulario {
  color: var(--cor_azul) !important;
  font-weight: bold !important;
}

.campo_formulario_cinza {
  background: hsla(0, 0%, 50%, 0.18) !important;
}

.bolas_acompanharSorteio {
  width: 30px !important;
  height: 30px !important;
  font-size: 14px !important;
}

.rodape-dir {
  color: var(--cor_1) !important;
  font-weight: bold !important;
  text-align: center;
}

.rodape-esq {
  color: var(--cor_1) !important;
  font-weight: bold !important;
  text-align: center;
}

.md .dialog-buttons {
  justify-content: center !important;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 4px 0px 4px;

}

.ios .dialog-buttons {
  justify-content: center !important;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px;
}

.dialog-button {
  background-color: var(--cor_1_background);
  color: var(--cor_1_fonte);
  font-weight: bold;
  min-width: 80px !important;
}

.dialog-title {
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
}

.dialog-text {
  /*
  font-weight: bold !important;
  color: #db1921 !important;
  */
  text-align: center !important;
  color: var(--f7-dialog-title-text-color);
  font-weight: bold !important;
  font-size: 0.9em !important;
  /*ou 14px*/
  font-weight: var(--f7-dialog-title-font-weight);
  line-height: var(--f7-dialog-title-line-height);
}

.ios {
  --f7-dialog-title-text-color: #212121 !important;
}

.dialog {
  border-style: solid !important;
  color: var(--cor_1) !important;
  /*  color: #db1921 !important;*/
  border-radius: 15px;
  /**alterações v52**/
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.55), 0px 9px 46px 8px rgba(0, 0, 0, 0.55) !important;
  border-width: 5px;
}

.dialog-input-font {
  font-weight: bold !important;
}

.dialog_ok_Button {
  background: var(--cor_1);
  color: #ffffff;
}

.dialog_button_esquerda {
  margin-right: auto !important;
  background-color: var(--cor_2_background) !important;
  color: var(--cor_2_fonte) !important;
  font-weight: bold;

  padding-right: 8px;
  border-right-width: 8px;
  margin-right: 8px !important;
}

.dialog_button_esquerda-cancelar {
  margin-right: auto !important;
  background-color: var(--cor_vermelha) !important;
  color: var(--cor_branca) !important;
  font-weight: bold;

  padding-right: 8px;
  border-right-width: 8px;
  margin-right: 8px !important;
}

.dialog_button_direita {
  /*margin-left: auto !important;*/
  margin-right: auto !important;
  background-color: var(--cor_1_background) !important;
  color: var(--cor_1_fonte) !important;
  font-weight: bold;

  padding-left: 8px;
  border-left-width: 8px;
  margin-left: 8px !important;
}

.toast_webapp {
  left: 0 !important;
  margin-left: auto !important;
  width: 100% !important;
}

.block-action-captcha {
  margin-top: 8px;
  margin-bottom: 8px;
}

.action-captcha-btn-fechar {
  position: absolute !important;
  right: 15px !important;
  font-size: 1.4rem !important;
  top: -5px !important;
}

.p-margin {
  margin-top: 2px;
  margin-bottom: 2px;
}

.ios input.dialog-input[type] {
  border: none !important;
  border-bottom: 2px solid var(--cor_azul) !important;
}

.senhaCap {
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
  font-size: 1.3em !important;
  background: #ff00001f !important;
  /*border-radius: 25px !important;*/
  border: none !important;
  border-bottom: none !important;
  margin-top: 0px !important;
  border-radius: var(--custom-border-radius) !important;
}

.block {
  border-radius: 25px !important;
  /*2022-10-18 add*/
}

.checkbox_bg {
  background-color: var(--cor_1_background) !important;
}

.tituloBanner {
  z-index: 10;
  text-align: center;
  font-size: 1.2rem;
  color: var(--cor_branca);
  position: inherit;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.termoDataSorteio {
  font-weight: bold;
  color: var(--cor_azul) !important;
}

.botao_cor_1 {
  background-color: var(--cor_1_background) !important;
  border-style: solid !important;
  border-color: var(--cor_1_borda) !important;
  color: var(--cor_1_fonte) !important;
  max-width: 320px;
  font-weight: bold;
}

.botao_cor_2 {
  background-color: var(--cor_2_background) !important;
  border-style: solid !important;
  border-color: var(--cor_2_borda) !important;
  color: var(--cor_2_fonte) !important;
  max-width: 320px;
  font-weight: bold;
}

.botao_cor_3 {
  background-color: var(--cor_3_background) !important;
  border-style: solid !important;
  border-color: var(--cor_3_borda) !important;
  color: var(--cor_3_fonte) !important;
  max-width: 320px;
  font-weight: bold;
}

.botao_cor_4 {
  background-color: var(--cor_4_background) !important;
  border-style: solid !important;
  border-color: var(--cor_4_borda) !important;
  color: var(--cor_4_fonte) !important;
  max-width: 320px;
  font-weight: bold;
}

.botao_cor_cancelar {
  background-color: var(--cor_vermelha) !important;
  border-style: solid !important;
  border-color: var(--cor_azul) !important;
  color: var(--cor_branca) !important;
  max-width: 320px;
  font-weight: bold;
}

.dialog-button-cor_1 {
  background-color: var(--cor_1_background);
  color: var(--cor_1_fonte);
  font-weight: bold;
}

.dialog-button-vertical_cor_1 {
  padding: 0 0 0px 0 !important;
  background-color: var(--cor_1_background);
  color: var(--cor_1_fonte);
  text-align: center !important;
}

.dialog-button-cor_2 {
  background-color: var(--cor_2_background);
  color: var(--cor_2_fonte);
  font-weight: bold;
}

.dialog-button-vertical_cor_2 {
  padding: 0 0 0px 0 !important;
  background-color: var(--cor_2_background);
  color: var(--cor_2_fonte);
  text-align: center !important;
}

.dialog-button-cor_3 {
  background-color: var(--cor_3_background);
  color: var(--cor_3_fonte);
  font-weight: bold;
}

.dialog-button-vertical_cor_3 {
  padding: 0 0 0px 0 !important;
  background-color: var(--cor_3_background);
  color: var(--cor_3_fonte);
  text-align: center !important;
}

.dialog-button-cor_4 {
  background-color: var(--cor_4_background);
  color: var(--cor_4_fonte);
  font-weight: bold;
}

.dialog-button-vertical_cor_4 {
  padding: 0 0 0px 0 !important;
  background-color: var(--cor_4_background);
  color: var(--cor_4_fonte);
  text-align: center !important;
}

.color_cor_1 {
  /*color-vermelho-scap*/
  color: var(--cor_1_fonte);
}

.color_cor_2 {
  color: var(--cor_2_fonte);
}

.color_cor_3 {
  color: var(--cor_3_fonte);
}

.color_cor_4 {
  color: var(--cor_4_fonte);
}

.bg_cor_1 {
  /*background-color: #db1921 !important;*/
  background-color: var(--cor_1_background);
}

.bg_cor_2 {
  /*background-color: #db1921 !important;*/
  background-color: var(--cor_2_background);
}

.bg_cor_3 {
  /*background-color: #db1921 !important;*/
  background-color: var(--cor_3_background);
}

.bg_cor_4 {
  /*background-color: #db1921 !important;*/
  background-color: var(--cor_4_background);
}


.dialog-button-50 {
  width: 50% !important;
}

.tabbar .tab-link-active,
.tabbar-labels .tab-link-active {
  /*Borda superior ao item ativo na TAB*/
  /*border-top: 2px solid var(--cor_azul) !important;*/
  font-size: 32px;
}

.list-group-title {
  font-weight: bold !important;
  color: var(--cor_1) !important;
  font-size: 1.3em !important;
  border-radius: 25px 25px 0px 0px !important;
}

.password-mascara {
  -webkit-text-security: disc;
  -moz-webkit-text-security: disc;
  -moz-text-security: disc;
  font-size: 0.8em !important;
}

/* formatação do elemento */
.password-icone {
  position: absolute;
  top: 0px;
  right: 20px;
}

.campo-obrigatorio {
  color: var(--cor_vermelha) !important;
}

.ios .list ul:after {
  display: none !important;
}

.ios .list ul:before {
  display: none !important;
}

.ios .simple-list li:after,
.links-list a:after,
.list .item-inner:after {
  display: none !important;
}

.subnavbar-inner {
  padding: 0px 4px 0px 4px !important;
}

@media (height < 700px) {
  .popup-captcha {
    height: 40% !important;
    /* Valor padrao */
  }

  .extrato-icones {
    display: none;
  }

  .botoes-pagamento {
    font-size: 0.8em !important;
  }

  .titulos-valor {
    font-size: 1.3em !important;
  }
}

@media (height >=700px) {
  .popup-captcha {
    height: 30% !important;
    /* Valor padrao */
  }

  .extrato-icones {
    vertical-align: -webkit-baseline-middle !important;
    /*2022-10-22*/
    vertical-align: -moz-middle-with-baseline !important;
    /*2022-10-22*/
  }
}

.popup-captcha-height-35 {
  height: 35% !important;
}

.popup-captcha-height-40 {
  min-height: 240px !important;
  max-height: 40% !important;
}

.popup-captcha {
  top: auto !important;
  bottom: 0px !important;
  /*height: 30% !important;*/
  /* Valor padrao */
}

.toolbar-inner {
  padding-right: 0px !important;
  padding-left: 0px !important;
  bottom: -1px !important;
  height: 50px !important;
  background-color: var(--cor_azul);
  color: var(--cor_branca);
}

@media (min-width: 768px) and (min-height: 600px) {

  .ios .tabbar .tab-link,
  .ios .tabbar-labels .tab-link,
  .ios .tabbar .link,
  .ios .tabbar-labels .link {
    flex-direction: column !important;
  }
}

.popover-close {
  color: var(--cor_1_fonte) !important;
}

.navbar-inner-centered-title {
  background-color: var(--cor_preta) !important;
  color: var(--cor_branca);
}

.dialog-backdrop {
  background: rgba(0, 0, 0, 0.7) !important;
}

.popup-backdrop {
  background: rgba(0, 0, 0, 0.7) !important;
}

.popup {
  border-radius: 25px 25px 0px 0px !important;
}

/*MENU BOTAO NAGEVAÇÂO*/
.menuInativo {
  border-radius: var(--custom-border-radius);
  margin: 10px;
  font-weight: bold;
}

.menuAtivo {
  color: var(--cor_amarela_fab) !important;
  background-color: var(--cor_azul);
  border-radius: var(--custom-border-radius);
  margin: 10px;
  font-weight: bold;
}


.menu_btn {
  position: fixed !important;
  right: 10px;
  top: 4px;
}

.menu_btn_webapp {
  position: fixed !important;
  right: 20px !important;
  top: 14px !important;
}

.menuIcone {
  font-size: 46px;
  margin-top: 0px;
}

.menu-item {
  background: var(--cor_padrao_bg_menu);
  color: var(--cor_1_fonte);
  width: 46px;
  height: 46px;
}

.menu-dropdown {
  background: var(--cor_padrao_bg_menu);
}

.menu-item-dropdown-right .menu-dropdown:before,
.menu-item-dropdown-center .menu-dropdown:before,
.menu-dropdown-right:before,
.menu-dropdown-center:before {
  background-image: radial-gradient(ellipse at 0% 0%, transparent 0%, transparent 70%, var(--cor_padrao_bg_menu) 72%);
}

.menu-dropdown-content {
  background: var(--cor_padrao_bg_menu);
}

.menu-item {
  color: var(--cor_1_fonte);
}

.ptr-preloader {
  top: -60px;
}


.navbar a {
  color: var(--cor_1_fonte);
  padding: 10px
}

.extrato-tab_Ativo {
  padding: 0px !important;
  border-radius: var(--custom-border-radius) !important;
  background: var(--cor_1_background) !important;
  color: var(--cor_1_fonte) !important;
  margin: 0px 8px 0px 8px !important;
  border-style: solid !important;
  border: 2px solid var(--cor_1_borda) !important;
  font-weight: bold;
}

.extrato-tab_inAtivo {
  padding: 0px !important;
  border-radius: var(--custom-border-radius) !important;
  background: var(--cor_2_background) !important;
  color: var(--cor_2_fonte) !important;
  margin: 0px 8px 0px 8px !important;
  border-style: solid !important;
  border: 2px solid var(--cor_2_borda) !important;
  font-weight: bold;
}

.botoesExtrato {
  margin: 4px;
  padding: 4px;
}

.timelineExtrato {
  margin: 0px !important;
  padding: 16px !important;
}

.icon-menudrop {
  padding-left: 10px;

}

.menu-dropdown-link i,
.menu-dropdown-item i,
.menu-dropdown-link i.icon,
.menu-dropdown-item i.icon,
.menu-dropdown-link i.f7-icons,
.menu-dropdown-item i.f7-icons,
.menu-dropdown-link i.material-icons,
.menu-dropdown-item i.material-icons {
  font-size: 30px;
}

.stepper-menos {
  border: 1px solid var(--cor_branca);
  background-color: var(--cor_vermelha);
}

.stepper-mais {
  border: 1px solid var(--cor_branca);
  background-color: var(--cor_azul);
}

.stepper-vazio {
  border: none;
  background-color: transparent;
  width: 20px;
}

.stepper-comprar {
  border: 1px solid var(--cor_branca);
  background-color: var(--cor_2_background);
  width: 40px;
  color: var(--cor_azul);
  text-align: center;
  border-radius: 5px;
}


@keyframes piscar {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.piscar {
  -webkit-animation: piscar .75s linear infinite;
  -moz-animation: piscar .75s linear infinite;
  -ms-animation: piscar .75s linear infinite;
  -o-animation: piscar .75s linear infinite;
  animation: piscar .75s linear infinite;
}

.areaRaspadinhaExterna {
  width: calc(var(--widthApp) - 20px) !important;
  /*height: 120px !important;*/
  height: 250px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  background-image: url('../img/scratchcard/logo.png');
  background-repeat: no-repeat !important;
  background-size: 30rem;
  background-position: center !important;
}

.areaRaspadinhaInterna {
  /*
  width: 95%;
  height: 90%;
  width: var(--widthApp); 
  */
  width: calc(var(--widthApp) - 40px) !important;
  /*height: 120px !important;*/
  height: 250px !important;
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
}

.raspPremio {
  padding-top: 64px;
  position: absolute;
  text-align: center;
  z-index: 4000;
  font-size: 1.2rem;
  line-height: 1.2;
  top: 40%;
  /*add*/
}

.bannerCardProduto {
  height: 200px;
  border-radius: 25px 25px 0px 0px;
  background-image: url('../img/home/banner_padrao.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/*NOVA HOME Multi Sorteios/Produto */
.tab-link {
  padding-bottom: 7px !important;
}

.bannerCardProdutoMulti {
  height: 200px;
  border-radius: 23px 23px 0px 0px;
  /*background-image: url('../img/home/banner_padrao.jpg');*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bannerCardProdutoMulti_1 {
  background-image: url('../img/home/banner_padrao.jpg');
}

.bannerCardProdutoMulti_2 {
  background-image: url('../img/home/banner_padrao.jpg');
}

.bannerCardProdutoMulti_3 {
  background-image: url('../img/home/banner_padrao.jpg');
}

.segmentoMultiProduto {
  margin-right: 0 !important;
  height: 60px !important;
  line-height: normal;
}

.segmentoMultiProduto_1_active {
  margin-right: 0 !important;
  height: 60px !important;
  line-height: normal;
  background-color: var(--cor_1_background) !important;
  color: var(--cor_branca) !important;
}

.segmentoMultiProduto_2_active {
  margin-right: 0 !important;
  height: 60px !important;
  line-height: normal;
  background-color: var(--cor_2_background) !important;
  color: var(--cor_branca) !important;
}

.segmentoMultiProduto_3_active {
  margin-right: 0 !important;
  height: 60px !important;
  line-height: normal;
  background-color: var(--cor_3_background) !important;
  color: var(--cor_branca) !important;
}

.cardProduto1 {
  border-style: solid !important;
  border-color: var(--cor_1_background) !important;
}

.cardProduto2 {
  border-style: solid !important;
  border-color: var(--cor_2_background) !important;
}

.cardProduto3 {
  border-style: solid !important;
  border-color: var(--cor_3_background) !important;
}

.titulo_card_produto1 {
  color: var(--cor_1_background) !important;
  font-size: 1.1rem !important;
}

.titulo_card_produto2 {
  color: var(--cor_2_background) !important;
  font-size: 1.1rem !important;
}

.titulo_card_produto3 {
  color: var(--cor_3_background) !important;
  font-size: 1.1rem !important;
}

.btn_comprar_produto1 {
  color: var(--cor_1_fonte) !important;
  font-weight: bold !important;
  border-color: var(--cor_1_borda) !important;
  background-color: var(--cor_1_background) !important;
}

.btn_comprar_produto2 {
  color: var(--cor_2_fonte) !important;
  font-weight: bold !important;
  border-color: var(--cor_2_borda) !important;
  background-color: var(--cor_2_background) !important;
}

.btn_comprar_produto3 {
  color: var(--cor_3_fonte) !important;
  font-weight: bold !important;
  border-color: var(--cor_3_borda) !important;
  background-color: var(--cor_3_background) !important;
}


.tabCarrinhoTitulo {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.tabCarrinhoConteudo {
  border: solid 2px !important;
  border-radius: 0px 0px 10px 10px;
  background-color: #f5f5f5 !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tabCarrinhoConteudo_1 {
  border-color: var(--cor_1_background) !important;
}

.tabCarrinhoConteudo_2 {
  border-color: var(--cor_2_background) !important;
}

.tabCarrinhoConteudo_3 {
  border-color: var(--cor_3_background) !important;
}

.tabCarrinhoItemAtivo_1 {
  border-top: solid 2px !important;
  border-left: solid 2px !important;
  border-right: solid 2px !important;
  border-bottom: solid 2px !important;
  border-radius: 10px 10px 0px 0px;
  border-top-color: var(--cor_1_background) !important;
  border-left-color: var(--cor_1_background) !important;
  border-right-color: var(--cor_1_background) !important;
  border-bottom-color: #f5f5f5 !important;
}

.tabCarrinhoItemAtivo_2 {
  border-top: solid 2px !important;
  border-left: solid 2px !important;
  border-right: solid 2px !important;
  border-bottom: solid 2px !important;
  border-radius: 10px 10px 0px 0px;
  border-top-color: var(--cor_2_background) !important;
  border-left-color: var(--cor_2_background) !important;
  border-right-color: var(--cor_2_background) !important;
  border-bottom-color: #f5f5f5 !important;
}

.tabCarrinhoItemAtivo_3 {
  border-top: solid 2px !important;
  border-left: solid 2px !important;
  border-right: solid 2px !important;
  border-bottom: solid 2px !important;
  border-radius: 10px 10px 0px 0px;
  border-top-color: var(--cor_3_background) !important;
  border-left-color: var(--cor_3_background) !important;
  border-right-color: var(--cor_3_background) !important;
  border-bottom-color: #f5f5f5 !important;
}

.tabCarrinhoItemAtivo {
  font-weight: bold;
  color: #000000;
  background-color: #f5f5f5;
  bottom: -2px;
  position: relative;
}

.tabCarrinhoItemInativo {
  color: #00000070;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--cor_cinza) !important;
  position: relative;
  border: solid 2px var(--cor_cinza) !important;
}

.checkbox_form {
  border-radius: 25px 25px 25px 25px;
}

.icon_checkbox_form {
  margin: 2px !important;
  border-radius: 25px 25px 25px 25px;
  border-color: transparent !important;
}

.accordion_box_1 {
  border: solid 2px var(--cor_1_background) !important;
  border-radius: var(--custom-border-radius) !important;
}

.accordion_box_2 {
  border: solid 2px var(--cor_2_background) !important;
  border-radius: var(--custom-border-radius) !important;
}

.accordion_box_3 {
  border: solid 2px var(--cor_3_background) !important;
  border-radius: var(--custom-border-radius) !important;
}

.relogio {
  display: inline-flex !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  height: 80px;
  padding: 10px;
}

/*COR DO RELOGIO*/
.flip-clock-wrapper ul li a div div.inn {
  color: var(--cor_1_fonte) !important;
  background-color: var(--cor_1_background) !important;
}

.cab_picker {
  color: var(--cor_1_fonte) !important;
  font-weight: bold;
}

.picker_toolbar {
  background-color: var(--cor_1_background) !important;
  border-radius: 25px 25px 0px 0px !important;
  font-size: 1.1rem;
}

.sheet-modal {
  border-radius: 25px 25px 0px 0px !important;
}

.picker-sheet {
  border-radius: 25px 25px 0px 0px !important;
}

.picker_botao {
  margin-right: 8px;
  border-radius: 25px 25px 25px 25px !important;
  background-color: var(--cor_1_background) !important;
  color: var(--cor_1_fonte) !important;
  border: solid 3px var(--cor_branca) !important;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn_mt_produtos {
  margin: 4px !important;
  padding: 4px;
  height: auto !important;
}

.btn_mt_produtoAtivo {
  background-color: var(--cor_1_background) !important;
  color: var(--cor_1_fonte) !important;
  border-color: var(--cor_1_borda) !important;
}

.mt_footer {
  text-align-last: center !important;
  font-size: 0.8em !important;
  text-align: -webkit-center !important;
}

.conjuntoCardTitulos {
  box-shadow: none !important;
  margin: 0px !important
}

.selectConferirSorteio {
  border: solid 2px var(--cor_1_background) !important;
  border-radius: var(--custom-border-radius) !important;
  padding-left: 8px;
  padding-right: 8px;
  margin: 8px;
}

.blockRaspadinha {
  padding: 0px 15px 0px 15px;
  margin: 0px 15px 0px 15px;
}

.blockRaspadinhaBotaoVoltar {
  position: absolute;
  color: var(--cor_branca);
  left: 8px !important;
  font-size: 2rem !important;
}

.blockRaspadinhaBotaoAvancar {
  position: absolute;
  color: var(--cor_branca);
  right: 8px !important;
  font-size: 2rem !important;
}

.blockRaspadinha_faixa {
  background-color: var(--cor_1_background);
  z-index: 10;
  /*padding-top: 8px;*/
  text-align: center;
  font-size: 1.2rem;
  color: var(--cor_branca);
  margin: 0 auto;
  /*position: absolute;*/
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.blockRaspadinha_bullet {
  color: var(--cor_branca) !important;
  font-size: 2rem !important;
}

.blockRaspadinha_bulletSelecionada {
  color: var(--cor_amarela_fab) !important;
  font-size: 2rem !important;
}