@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.border_animated {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.border_animated::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -126%;
  width: 200%;
  height: 350%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(var(--cor_Rainbow_1), var(--cor_Rainbow_1)), linear-gradient(var(--cor_Rainbow_2), var(--cor_Rainbow_2)), linear-gradient(var(--cor_Rainbow_3), var(--cor_Rainbow_3)), linear-gradient(var(--cor_Rainbow_4), var(--cor_Rainbow_4));

  -webkit-animation: var(--animation);
  animation: var(--animation);
}

.border_animated::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: white;
  border-radius: 20px;
}