@import url("https://fonts.googleapis.com/css?family=Lato:300");

.border_animated {
  --border-width: 5px;
  border-radius: var(--border-width) !important;
}

.border_animated::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  /*background: linear-gradient(100deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);*/
  background: linear-gradient(100deg, var(--cor_Rainbow_1), var(--cor_Rainbow_2), var(--cor_Rainbow_3), var(--cor_Rainbow_4));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}